@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


.App {
  width: 600px;
  background-color: #FFDD4A;
}

.headertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ADBFF;
  height: 180px;
  width: 800px;
  border-radius: 70px;
  font-size: 5em;
  color: #3C6997;
  margin-top: 25px;
  font-family: 'Abril Fatface', cursive;
}

.mainbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #094074;
}

.cardsandform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smurfcards {
  background-color: #FE9000;
  margin-top: 30px;
  width: 250px;
  text-align: center;
  text-decoration: none;
}

.cardsandform form {
  display: flex;
  flex-direction: column;
}